@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
    color: #f5f5f5;
  }
}

@layer components {
  .flex-centered {
    @apply flex items-center justify-center;
  }
}

@layer utilities {
  .shadow-top {
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.5);
  }
  .ar-1 {
    aspect-ratio: 1/1;
  }
  .ar-16\/9 {
    aspect-ratio: 16/9;
  }
  .ar-3\/4 {
    aspect-ratio: 3/4;
  }
  .text-shadow {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    letter-spacing: 0.025rem;
  }
}
