@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
  }
}

@layer components {
  .flex-centered {
    @apply flex items-center justify-center;
  }
}

@layer utilities {
  .shadow-top {
    box-shadow: 5px 0 15px rgba(0, 0, 0, .5);
  }
  .ar-1 {
    aspect-ratio: 1/1;
  }
}